version: '3.7'

services:

  car.neo4j:
    container_name: car.neo4j
    image: car/neo4j
    build: .
    environment:
      LOCAL_UID: ${car_local_uid}
    volumes:
      - ${car_neo4j_folder}:/data
      - ./scripts/start.sh:/scripts/start.sh
    ports:
      - "127.0.0.1:${car_http_port}:7474"
      - "127.0.0.1:${car_bolt_port}:7687"
